.bomb-true {
    background-color: black;
}

.flag-true {
    background-color: green;
}

.question-true {
    background-color: blue;
}

.box {
    display: inline-block;
    border: thin solid black;
    width: 10px;
    height: 10px;
    padding: 4px;
    /*margin: 4px;*/
}
