.bomb-true {
    background-color: black !important;
}

/*
 * We insert the flags here because its easier than the javascript <3
 */
.flag-true:before {
    content: "⚑";
    color: red;
}

.flag-true {
    background-color: white !important;
}

.question-true:before {
    content: "?";
    color: black;
}

.question-true {
    background-color: white !important;
}

.menu {
    margin: 0 auto;
}

.board {
    margin: 0 auto;
}

.box {
    box-sizing: border-box;
    float: left;
    display: inline-block;
    line-height: 1;
    background-color: grey;
    border: thin solid black;
    font-size: 24px;
    width: 32px;
    height: 32px;
    text-align: center;
}

.clicked-true {
    background-color: white;
}

.adjacent-3 {
    background-color: white;
    color: red;
}

.adjacent-2 {
    background-color: white;
    color: green;
}

.adjacent-1 {
    background-color: white;
    color: blue;
}

.minesweeper {
    padding: 40px 15px;
}
